*, *::after, *::before {
    box-sizing: border-box;
}

:root{
    --cell-size: 150px;
    --mark-size: calc(var(--cell-size)* .9)
}

body{
    margin: 0;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Trebuchet MS, sans-serif;
    background-image: url("../IMG/mountain4.jpg");
}

.board{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid rgba(209, 209, 209, 0.699);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative 
}


.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top:none;
}

.cell:nth-child(3n+1){
    border-left: none;
}

.cell:nth-child(3n+3){
    border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8){
    border-bottom:none;
}

.cell.x,
.cell.circle{
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after{
    background-color: #c23616;
}

.cell.circle::before,
.cell.cricle::after{
    background: -webkit-radial-gradient(50% 50%, circle, transparent  50%, #fbc531 51%); 
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    background-color: #ffffff;
}

.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after{
    background: -webkit-radial-gradient(50% 50%, circle, transparent  50%, #ffffff 51%);
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after{
    content: "";
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before{
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after{
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after{
    content: "";
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before{
    width: var(--mark-size);
    height: var(--mark-size);
}


.winning-message{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.55);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winning-message button{
    font-size: 3rem;
    background-color: #95a5a6;
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.603);
}

.winning-message button:hover{
    transition-duration: 0.4s;
    background-color: #f1c40f;
}

.winning-message.show{
    display: flex;
}

